.feedback {
  padding: 100px 150px;
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.big-circle {
  position: relative;
  width: 346px;
  height: 346px;
  border: 1px dashed rgba(246, 118, 44, 0.3);
  border-radius: 50%;
}
.client1 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 25px;
}
.client2 {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  bottom: 40px;
  right: 0px;
}
.client3 {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  left: 25px;
}
.client4 {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  left: -15px;
}
.small-circle {
  margin: 58px;
  position: relative;
  width: 230px;
  height: 230px;
  border: 1px dashed rgba(246, 118, 44, 0.3);
  border-radius: 50%;
}
.client5 {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  margin: 59px;
  box-shadow: 0px 4px 25px 40px #f6762c0d;
}
.feedback__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 370px;
  width: 370px;
  padding: 80px;
}
.orange-circle {
  width: 43px;
  height: 43px;
  background-color: rgba(246, 118, 44, 0.1);
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
}
.orange-circle img {
  position: absolute;
  bottom: -5px;
  left: -5px;
}
.feedback__text p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}
/* our-menu */
.our-menu {
  background-color: #312f30;
  padding: 60px 150px;
}
.our-menu__container {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
}
@media (max-width: 880px) {
  .our-menu__container {
    justify-content: center;
  }
  .big-circle {
    display: none;
  }
  .feedback {
    padding: 20px 150px;
  }
  .feedback__text {
    padding: 20px;
  }
}
