footer {
  padding: 100px 150px;
  background-color: #1c1c1c;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}
.footer-links {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.material-icons-outlined {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
}
.footer-links a {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  text-align: left;
  color: white;
  text-decoration: none;
  opacity: 0.8;
}
.footer-links__social-media {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}
@media (max-width: 600px) {
  .footer-links__other {
    display: none;
  }
  footer {
    padding: 60px 60px;
  }
}
